body{
	background-color: blue;
}

img{
	max-width:100%;
	max-height:100%;
}

h1{
	font-family: "Comic Sans MS";
}

body {
    background-image: url("pepe_plz.gif");
}

.troll{
	color: lime;
	font-family: "Comic Sans MS";
}

.header{ /*for the top of the page*/ 
	background-color: white;
	text-align: center;
	width: 800px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border: 3px;
	border-style: solid;
	border-color: fuchsia;
	padding: 20px;

}

ul li{
	display: inline;
	text-align: center;
}


.body-article{
	background-color: white;
	float; left;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 0px;
	border: 3px;
	border-style: solid;
	border-color: fuchsia;
	padding: 20px;
}

#navbar{
	width: 170px;
	margin-left: 20px;
	margin-right: 0px;
	margin-top: 50px;
	margin-bottom: 50px;
	border: 3px;
	border-style: solid;
	border-color: navy;
	padding: 5px;
}

#footer{
	width: 800px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}